.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh; /* Pour occuper toute la hauteur de la fenêtre */
}

.canva{
  display: block;
  box-sizing: border-box;
  height: 180px;
  width: 766px;
}

.canva-interieur{
  display: block;
  box-sizing: border-box;
  height: 180px;
  width: 460px;
}
